@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 1.5em;
  font-family: 'Orbitron', sans-serif;
}

button {
  cursor: pointer;
  border-radius: 1em;
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 50%;
}

.calculator {
  background-color: #1c1c1c;
  padding: 1.5em;
  border-radius: 1em;
  max-width: 450px;
}

.display {
  background-color: #505050;
  border-radius: 0.5em;
  font-size: 2rem;
  padding: 0.5em;
  min-height: 80px;
  margin-bottom: 0.75em;
  color: #fff;
}

.buttons__utility {
  display: flex;
  margin-bottom: 1.5em;
}

.buttons__utility button {
  width: 60px;
  border-radius: 1.5em;
  margin: 0.15em;
}

.buttons__math {
  display: flex;
}

.buttons__math button {
  aspect-ratio: 1;
}

.buttons__numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.number {
  margin: 0.15em;
}

.button__equals {
  margin: 0.15em;
}

.buttons__operators {
  display: flex;
  flex-wrap: wrap;
}

.operator {
  background-color: #ff9500;
  font-size: 1.2rem;
  margin: 0.15em;
}
